<div class="books-list-container">
    <div class="books-list-title clearfix">
        <h4>Jobs</h4>
        <a routerLink="/jobs/new">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">New Job</button>
        </a>
    </div>
    <div class="books-list-content-container clearfix">
        <table class="table table-hover">
            <thead>
                <tr>
                <th>Job Key</th>
                <th>Proposed Start Time</th>
                <th>Proposed End Time</th>
                <th>Start Location</th>
                <th>End Location</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs">
                    <td>{{job.job_key}}</td>
                    <td>{{job.proposed_start_at}}</td>
                    <td>{{job.proposed_end_at}}</td>
                    <td>{{job.start_location}}</td>
                    <td>{{job.end_location}}</td>
                    <td>
                       <a [routerLink]="['/jobs', job._id]">View</a>
                       <a routerLink="/jobs/new">Edit</a> 
                       <a routerLink="/jobs/new">Delete</a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
      