<div class="books-list-container">
  <div class="books-list-title clearfix">
    <h4>Companies</h4>
    <a routerLink="/companies/new">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">New Company</button>
    </a>
  </div>
  <div class="books-list-content-container clearfix">
    <div class="book-card mdl-card mdl-shadow--2dp" *ngFor="let company of companies">
      <h1>{{company.name}}</h1>
      <div class="mdl-card__actions">
        <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect" [routerLink]="['/books', book.id]">-->
          <!--View Book-->
        <!--</a>-->
      </div>
    </div>
  </div>
</div>
