<section class="new-book-container">
  <h4>Add Job</h4>

  <form novalidate [formGroup]="newJobForm" (ngSubmit)="saveJob()">
    <div class="form-group">
      <label for="job_key">Job Key</label>
      <input type='text' class="form-control" id='job_key' formControlName="job_key"/>
    </div>
    <br/>

    <div class="form-group">
      <label for="start_location">Start Location</label>
      <input type='text' class="form-control" id='start_location' autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="start_location" #start_location/>
    </div>
    <br/>

    <div class="form-group">
      <label for="end_location">End Location</label>
      <input type='text' class="form-control" id='end_location' autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="end_location" #end_location/>
    </div>
    <br/>
    
    <div class="form-group">
      <label for="proposed_start_at">Start Time</label>
      <input type='text' class="form-control" id='proposed_start_at' formControlName="proposed_start_at" #proposed_start_at/>
    </div>
    <br/>
    <div class="form-group">
      <label for="proposed_end_at">End Time</label>
      <input type='text' class="form-control" id='proposed_end_at' formControlName="proposed_end_at" #proposed_end_at/>
    </div>
    <br/>
    
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
    <br/>
    <!-- <button type="submit" class="btn btn-success"  [disabled]="newJobForm.invalid">Save</button> -->
    <button type="submit" class="btn btn-success">Save</button>
    <button type="submit" class="btn btn-danger" (click)="this.location.back()">Cancel</button>
  </form>
</section>
  